:host {
    display: flex;
    flex: 1;
}

.card {
    transition: 0.2s;
    background-color: rgb(255, 243, 222);
    border-radius: 10px;
    padding: 10px;
    box-shadow: 7px 7px 14px 2px #00000065;
    

    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 3%;


    &:hover {
        transition: 0.5s;
        background-color: rgba(255, 243, 222, 0.838);
    }

    &:active {
        transition: 0s;
        scale: 1.04;
        box-shadow: 0px 0px 5px 5px #b2a1e7e8;
    }

    .circle {
        border: solid 2px;
        border-radius: 20px;
    }

    .stars {
        display: flex;
        flex-direction: column;
        gap: 5px;
        font-size: 2vw;
        position: absolute;
        top: 10px;
        right: 10px;

        @media (max-width: 600px) {
            font-size: 12px;
        }

    
        .icon-star {
            display: flex;
            justify-content: center;
        }
    }

    .x-image {
        width: 40%;
        height: 40%;
    }
}