
<div class="gamer-board-wrapper">
    <div class="game-board">

        <div class="card-row">
            <app-card>
    
            </app-card>
            <app-card>
                
            </app-card>
            <app-card>
                
            </app-card>
            <app-card>
                
            </app-card>
            <app-card>
                
            </app-card>
        </div>

        <div class="card-row">
            <app-card>
    
            </app-card>
            <app-card>
                
            </app-card>
            <app-card>
                
            </app-card>
            <app-card>
                
            </app-card>
            <app-card>
                
            </app-card>
        </div>
        <div class="card-row">
            <app-card>
    
            </app-card>
            <app-card>
                
            </app-card>
            <app-card>
                
            </app-card>
            <app-card>
                
            </app-card>
            <app-card>
                
            </app-card>
        </div>

        <div class="buttons">
            <button>dfdfd</button>
            <button>dfdfd</button>ś
        </div>
        
    </div>
</div>
