@import '../../colors-templates/color-themes.less';

:host {
    display: flex;
    height: 100%;
    overflow: scroll;

    ::-webkit-scrollbar {
        -webkit-appearance: none;
        width: 0px;
    }
}

.gamer-board-wrapper {
    display: flex;
    flex: auto;
    align-self: stretch;
    align-items: center;
    background-color: var(--background);

    .game-board {
        display: flex;
        flex-direction: column;
        flex: 1;
        margin-left: 4%;
        margin-right: 4%;
        min-width: 300px;

        @media (max-aspect-ratio: 9 / 8) {
            aspect-ratio: 9 / 8;
        }

        @media (min-aspect-ratio: 9 / 8) {
            height: 92%;
        }
    
        .buttons {
            display: flex;
            margin: 7px;
            margin-top: 15px;
            gap: 14px;
        }
    
        .card-row {
            display: flex;
            flex: 1;
        }
    }
}

