

<div class="gamer-board-wrapper" [ngClass]="colorThemeClass">
    <div class="game-board">
        <div class="card-row">
            <app-card>
    
            </app-card>
            <app-card>
                
            </app-card>
            <app-card>
                
            </app-card>
            <app-card>
                
            </app-card>
            <app-card>
                
            </app-card>
        </div>

        <div class="card-row">
            <app-card>
    
            </app-card>
            <app-card>
                
            </app-card>
            <app-card>
                
            </app-card>
            <app-card>
                
            </app-card>
            <app-card>
                
            </app-card>
        </div>
        <div class="card-row">
            <app-card>
    
            </app-card>
            <app-card>
                
            </app-card>
            <app-card>
                
            </app-card>
            <app-card>
                
            </app-card>
            <app-card>
                
            </app-card>
        </div>

        <div class="buttons">
            <app-button [textOnButton]="'counting points'"></app-button>
            <app-button [textOnButton]="'next round'" [isDisabled]="true"></app-button>
        </div>
        
    </div>
</div>
