<div class="card">
    <app-toggle-selection (toggleSelectionChanged)="userModeChanged($event)" [firstOption]="'Game Master'" [secondOption]="'Ordinary User :('"></app-toggle-selection>

    <div *ngIf="userIsMaster" class="list-container">
        <ol>
            <li *ngFor="let user of users">{{user}}</li>
        </ol>

        <div class="input-wrapper">
            <input (keyup)="updateUserName($event)" class="input">
            <app-button (click)="addUser()" class="add-button" [textOnButton]="'+'" [height]="25"></app-button>
        </div>
        
    </div>
</div>
