@import '../../colors-templates/color-themes.less';

:host {
    display: flex;
    flex-direction: column;
    align-self: stretch;
}

.wrapper {
    padding: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    .card {
        display: flex;
        flex-direction: column;
        background-color: rgba(255, 255, 255, 0.778);
        box-shadow: 3px 3px 10px 0px #00000065;
        border-radius: 10px;
        height: 60px;
        padding: 10px; 

        .title {
            font-family: 'Lato', sans-serif;
            font-weight: 600;
            font-size: 13px;
        }

        .selection {
            margin-bottom: auto;
            margin-top: auto;
            display: flex;
            justify-content: space-around;

            .circle {
                display: flex;
                width: 30px;
                height: 30px;
                border-radius: 15px;
                box-shadow: 12px 12px 16px 0 rgba(255, 255, 255, 0.3) inset,
                -8px -8px 12px 0 rgba(0, 0, 0, .25) inset;
                transition: 0.2s;
                border: 2px solid;
                border-color: rgb(255, 255, 255);
            }

            .selected {
                border: 2px solid;
                border-color: var(--hoverButton);
            }

            .blue {
                background-color: @blueMain;

                &:hover {
                    transition: 0.2s;
                    box-shadow: -12px -12px 16px 0 rgba(255, 255, 255, 0.3) inset, 8px 8px 12px 0 rgba(0, 0, 0, 0.25) inset;
                }

                &:active {
                    background-color: @blueMainHover;
                }
            }

            .black {
                background-color: @blackMain;

                &:hover {
                    transition: 0.2s;
                    box-shadow: -12px -12px 16px 0 rgba(255, 255, 255, 0.3) inset, 8px 8px 12px 0 rgba(0, 0, 0, 0.25) inset;
                }

                &:active {
                    background-color: @blackMainHover;
                }
            }

            .purple {
                background-color: @purpleMain;

                &:hover {
                    transition: 0.2s;
                    box-shadow: -12px -12px 16px 0 rgba(255, 255, 255, 0.3) inset, 8px 8px 12px 0 rgba(0, 0, 0, 0.25) inset;
                }

                &:active {
                    background-color: @purpleMainHover;
                }
            }

            .pink {
                background-color: @pinkMain;

                &:hover {
                    transition: 0.2s;
                    box-shadow: -12px -12px 16px 0 rgba(255, 255, 255, 0.3) inset, 8px 8px 12px 0 rgba(0, 0, 0, 0.25) inset;
                }

                &:active {
                    background-color: @pinkMainHover;
                }
            }

            .yellow {
                background-color: @yellowMain;

                &:hover {
                    transition: 0.2s;
                    box-shadow: -12px -12px 16px 0 rgba(255, 255, 255, 0.3) inset, 8px 8px 12px 0 rgba(0, 0, 0, 0.25) inset;
                }

                &:active {
                    background-color: @yellowMainHover;
                }
            }

            .green {
                background-color: @greenMain;

                &:hover {
                    transition: 0.2s;
                    box-shadow: -12px -12px 16px 0 rgba(255, 255, 255, 0.3) inset, 8px 8px 12px 0 rgba(0, 0, 0, 0.25) inset;
                }

                &:active {
                    background-color: @greenMainHover;
                }
            }
        }
    }
}